@font-face {
    font-family: 'Gotham Pro Medium';
    src: url('../GothamPro-Medium.eot');
    src: url('../GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../GothamPro-Medium.woff') format('woff'),
    url('../GothamPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}